
*{box-sizing: border-box;}
html{
    scroll-behavior: smooth;
}
.navBar{
    background-color: palevioletred;
    color: aquamarine;
   
}
.nav_link{
    color: blanchedalmond;
    display: inline-block;
    padding: 1em 2em;
    font: 1.3em;
    text-decoration: none;
}
.nav_link:hover{
    color: palegreen;
    background-color: cadetblue;
    font-weight: 900;
}
.container2{
    background-color: aliceblue;
    padding: 1.5em;
    border-radius: 1em ;
    display: flex;
    flex-wrap: wrap;
}

.img_cont2{
    width: 80%;
    height: 80%;
    margin: 2% auto; 
}

.subtitle{
    text-align: center;
    color: black;
    font-family: monospace;
}

.image1{
    filter: invert(100%);
    width: 60%;
    height: 60%;
    margin: 0%;
}
.p1{
    text-align: right;
    position: absolute;
    font-family: monospace;
    color: black;
    background-color: cadetblue;
    padding: 1em;
bottom: 2%;
background-position: 2em;
}
.image2{
    filter: blur(5px);
    width: 60%;
    height: 60%;
     margin: 0%;
}
.p2{
    font-size: 1.3em;
    color: black;
    padding: 1.3em;
    box-shadow: 0px 0px 3px 2px plum;
    text-align: left;
    left: auto;
    font-family: monospace;
    position: absolute;
    background-color: beige;
    border-radius: 3em;
}
.image3{
    filter: sepia(100);
    width: 60%;
    height: 60%;
    margin: 0%;
}
.p3{
    color: aqua;
    text-align: left;
    left: auto;
    font-family: monospace;
    background-color: blue;
    padding: 1em;
    position: absolute;
    background-position: 1em;
    border-radius: 1em;
    text-decoration: none;
}
.p4{
    color: blueviolet;
    text-align: end;
    font-family: monospace;
    background-color: antiquewhite;
    position: relative;
    border-radius: 1em;
    text-decoration: none;
    font-size: medium;
}