*{box-sizing: border-box;}
.Intro{
    background-color: papayawhip;
}
.navBar{
    background-color: palevioletred;
    color: rgb(249, 24, 110);
    text-align: center;
    padding: 1em;
}
.nav_link{
    background-color: palevioletred;
    color: beige;
    display: inline-block;
    padding: 1em 2em;
    font: 1.3em;
    text-align: center;
}
.nav_link:hover{
    color: purple;
    background-color: pink;
    font-weight: 900;}

.videos{
    text-align: center;
    padding: 5em;

    }
    .titler{
        background-color: aqua;
        padding: 3em;
        text-align: center;
        
    }